---
import Tiktok from '../assets/tiktok.svg';
import Instagram from '../assets/instagram.svg';
import Whatsapp from '../assets/whatsapp.svg';
import Arrow from '../assets/arrow.svg';
---


<section class="hero-container">

    <main class="texto-container">

        <header>
            <h1>El Rincón de los Postres</h1>
            <p>¡Endulza tu vida con cada bocado!</p>

            <section class="social">
                <a href="https://www.tiktok.com/@elrincondelospost?_t=ZS-8xToq6JEmgS&_r=1" class="social-link" target="_blank" aria-label="Tiktok"> 
                    <Tiktok class="icono" />
                </a>
                <a href="https://www.instagram.com/_elrincondelospostres._?igsh=amdoMGczc24xMG84" class="social-link" target="_blank" aria-label="Instagram">
                    <Instagram class="icono"/>
                </a>
                <a href="https://wa.me/573053717773" class="social-link" target="_blank" aria-label="Whatsapp">
                    <Whatsapp class="icono" />
                </a>
            </section>
        </header>
    </main>

    <footer class="mensaje-scroll">
        <Arrow class="icono" />
        <Arrow class="icono" />
        <Arrow class="icono" />
        <Arrow class="icono" />
    </footer>

    <div class="bg-container">
        <img src="" alt="hero-mobile" id="img">
    </div>

    <div class="overlay"></div>
</section>

<style>
    .hero-container {
        width: 100%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
    }

    .icono {
        color: var(--color-accent);
    }

    .texto-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0 2rem;
        padding: 12rem 2rem 0 2rem;
        z-index: 100;
        color: var(--color-accent);

        & header {
            line-height: 2.5rem;
            text-align: center;
            margin-bottom: 3rem;

            & h1 {
                font-family: var(--font-primary);
                font-size: 3rem;
            }

            & p {
                font-family: var(--font-secondary);
                font-size: 1.5rem;
            }
        }


    }

        & .bg-container {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                backdrop-filter: blur(2.5px);
                z-index: 0;
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -1;
            }
        }

        .overlay {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: var(--black);
            opacity: .5;
            backdrop-filter: blur(10px);
        }

    .social {
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;

        & .social-link {
            transition: all .2s ease-in-out;

            &:hover {
                scale: 1.2;
            }
        }
    }

    .mensaje-scroll {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        gap: 1rem;

        animation: bounce 1s infinite;
    }

    @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posición inicial y final */
    }
    40% {
        transform: translateY(-15px); /* Salto hacia arriba */
    }
    60% {
        transform: translateY(-7px); /* Pequeño rebote hacia arriba después de la caída */
    }
}

</style>

<script type="module">

    const img = document.querySelector('#img');

    // Función para actualizar la imagen según el tamaño
    function updateHeroImage() {
        if (window.innerWidth > 768) {
            img.src = "/hero-desktop.webp";
        } else {
            img.src = "/hero-mobile.webp";
        }
    }

    updateHeroImage();
    window.addEventListener('resize', updateHeroImage);


</script>